﻿@{
    ViewData["Title"] = "Address Details";
}

@model Info.Blockchain.API.Models.Address

<div class="text-center">
    <h1 class="display-4">Address Details</h1>
</div>

<div class="container">
    <div class="text-center">
        <h5>Address Details</h5>
    </div>
    <div>
        <ul>
            <li>
                Address: @Model.Hash160
            </li>
            <li>
                Total Received: @Model.TotalReceived.GetBtc()
            </li>
            <li>
                Total Spent: @Model.TotalSent.GetBtc()
            </li>
            <li>
                Final Balance: @Model.FinalBalance.GetBtc()
            </li>
            <li>
                Total Transactions: @Model.TransactionCount
            </li>
        </ul>
    </div>
</div>
