﻿@{
    ViewData["Title"] = "Home Page";
}

@model BlockchainModel;
<div class="text-center">
    <h1 class="display-4">Pay using Blockchain</h1>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">Payment Details</div>
        <div class="card-body">
            @using (Html.BeginForm("ProcessPayment", "Blockchain", FormMethod.Post, new { @class = "row" }))
            {
                @Html.HiddenFor(x => x.MarketPriceUsd)
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(a => a.FirstName)
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.LastName)
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Email)
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Amount)
                    @Html.TextBoxFor(a => a.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Amount)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.AmountInBTC)
                    @Html.TextBoxFor(a => a.AmountInBTC, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <button type="submit" class="btn btn-primary">Pay</button>
            </div>

            }
        </div>
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript">
        $('#Amount').change(function () {
            var amount = $('#Amount').val();
            var marketPriceUsd = $('#MarketPriceUsd').val();
            var value = amount / marketPriceUsd;
            $('#AmountInBTC').val(value.toFixed(4));
        });
    </script>
}

