﻿@{
    ViewData["Title"] = "Home Page";
}

@model Info.Blockchain.API.Models.ReceivePaymentResponse

<div class="text-center">
    <h1 class="display-4">Pay using Blockchain</h1>
</div>

<div class="container">
    <div class="text-center">
        <h5>Payto this Address</h5>
        <h4>
            @Model.Address <a href="/blockchain/AddressDetails/@Model.Address" target="_blank"> Get Address Details</a>
        </h4>
        <img src="http://chart.googleapis.com/chart?chs=125x125&cht=qr&chl=@Model.Address" width="50%" class="border">
    </div>
</div>
