﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Payment Integration Service</p>
</div>

<div>
    <h5>Choose Payment Gateway</h5>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Skrill"> Skrill Payment Gateway</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="PayPal"> Paypal Payment Gateway</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Blockchain"> Blockchain Payment Gateway</a>
        </li>
    </ul>
</div>
