﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pay using Skrill</h1>
</div>

@model SkrillModel

<div class="container">
    <div class="card">
        <div class="card-header">Payment Details</div>
        <div class="card-body">
            @using (Html.BeginForm("ProcessPayment", "Skrill", FormMethod.Post, new { @class = "row" }))
            {
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(a => a.FirstName)
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.LastName)
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Email)
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Amount)
                    @Html.TextBoxFor(a => a.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Amount)
                </div>
                <button type="submit" class="btn btn-primary">Pay</button>
            </div>

            }
        </div>
    </div>
</div>
