﻿@{
    ViewData["Title"] = "Paypal Success Page";
}

@model PayPalCheckoutSdk.Orders.Order

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">Your last transaction was completed!!!</h1>
    </div>
    <div class="text-center">
        <label>Paypal Order Id</label> : @Model.Id <br />
        @*<label>Paypal Invoice Id</label> : @Model.PurchaseUnits[0].InvoiceId <br />*@
        <label>Amount</label> : @Model.PurchaseUnits[0].AmountWithBreakdown.Value  @Model.PurchaseUnits[0].AmountWithBreakdown.CurrencyCode <br />
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Your last transaction was not completed or Failed !!!</h1>
    </div>
}